.wrapper {
    background-color: rgb(173, 173, 173);
    height: 7vw;
    width: 100%
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    /* align-content: center; */
}

.left {
    width: 32.9%;
    border: 1px solid; /*this is just for positioning, remove for production push*/
    float: left;
    justify-content: left;
}

.right {
    width: 32.9%;
    border: 1px solid; /*this is just for positioning, remove for production push */
    float: right;
}

.center {
    width: 32.9%;
    border: 1px solid; /*this is just for positioning, remove for production push     */
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: auto;
    margin-top:-2%;
    width: 20%;
    float: left
}