/* placeholder */
.wrapper {
    background-color: rgb(173, 173, 173);
    height: 7vw;
    width: 100%
}

.inner {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid; /* this is just for positioning, remove for production push
    align-content: left; */
    text-align: center;
}

a {
  color: blue;
}

.nav-btns {
  text-align: center;
}


