.wrapper {
  position: relative;
  background-color: rgb(173, 173, 173);
  height: 7vw;
  width: 100;
}

.inner {
  width: fit-content;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.header-text {
  position: relative;
  margin-top: 1;
  width: 100;
}

.nav-btns {
  position: relative;
  list-style: none;
  font-size: 2em;
  margin-top: -3%;
  width: fit-content;
}

a {
  color: blue;
}